/*Сброс стилей ссылок ... убрано подчеркивание цвет белый*/
a {
    text-decoration: none;
    color: #fff;
}

body{
    background-color: #E5E5E5;
}


.container {
    width: 1220px;
    margin: 0 auto;
}

nav {
    /* outline: 1px solid black; */
    background-color: #007765;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
}

.header-logo {
    margin-left: 55px;
}

.menu {
    margin-right: 54px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.menu_items {
    display: inline-block;
}

.menu li:not(:last-child) {
    text-align: center;
    color: #fff;
    border-right: 2px solid white;
    padding-right: 8px;
    margin-right: 3px;
}

.header-img {
    /* outline: 1px solid black; */
    height: 403px;

    background-image: url("../img/image.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img__heading {
    font-family: Roboto;
    font-weight: 500;
    font-size: 72px;
    color: #fff;
}

.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid black; */
    padding-top: 48px;
    background-color: #eeeeee;
}

.problem__heading {
    /* outline: 1px solid black; */
    width: 1107px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #007765;
    margin-bottom: 16px;
}

.problem__content {
    /* outline: 1px solid black; */
    width: 1110px;
    font-family: Roboto;

    font-weight: 400;
    font-size: 32px;
    color: #000;
    margin-bottom: 92px;
}

.problem__content__span {
    font-weight: 700;
}

.strongest_supercomputer {
    /* outline: 1px solid black; */
    background-image: url("../img/image1.png");

    height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strongest_supercomputer__header {
    /* outline: 1px solid white;*/
    width: 893px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

.advantages_PiedPiperCoin {
    /*outline: 1px solid black;*/
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    background-color: #FFFFFF;
    
}

.advantages_PiedPiperCoin__title {
    /*outline: 1px solid red;*/
    width: 1110px;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 64px;
    color: #007765;
    margin-bottom: 16px;
}

.advantages_PiedPiperCoin__pic-block{
    /*outline: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    width: 1219px;
    margin-bottom: 41px;
    
    
    
}

.advantages_PiedPiperCoin__pic-block img{
    margin-left: 55px;
}



.advantages_PiedPiperCoin__pic-text{
    /*outline: 1px solid red;*/
    width: 930px;
    margin-right: 71px;
        
}


.advantages_PiedPiperCoin__text-block-two{
width: 1110px;
/*outline: 1px solid black;*/
display: flex;
flex-direction: column;
justify-content: center;
gap: 35px;
margin-bottom: 92px;



}

.team{
    display: flex;
}


.team__list{
    display: flex;
}